{% extends 'blog/base.html' %}
{% block content  %}
    {% for blog in blogs  %}
    <div class="q">
    <article class="media content-section my-2" >
    <div class="card" id="qqq" style="width: 22rem;height:15rem;border:1px solid #00bbff;border-radius:10px;transition:0.5s;">
        <div class="card-body my-3">
            {% if blog.author.profile.profile_pic %}
           <img class="rounded-circle mb-3" width=60px style="height:60px;" src="{{ blog.author.profile.profile_pic.url }}">
            {% endif %}
            <h4 class="card-title"><a class="article-title" href="{% url 'post-detail' blog.id %}" >{{blog.title}} </a></h4>
            <h5 class="card-subtitle mb-2 text-muted"> <a href="{% url 'user-home' blog.author.id %}"> Author -- {{blog.author}} </a> </h5>
            <p> Date Posted: {{ blog.date_posted|date:"M d, Y" }}</p>
            <p class="card-text"> {{blog.content}}</p>
            <br>
            <br>
        </div>
    </div>
    </article>
    <br>
    {% endfor %}
    <br>
    <br>
    <br>
    <br>
    <!--
<div class="num">
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num > page_obj.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{ num }}</a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}">Last</a>
        {% endif %}
    {% endif %}
</div>-->
</div>

{% endblock content %}
