{% extends 'blog/base.html' %}
{%  block  content  %}
    {% for blog in user_blog %}
    <article class="media content-section my-2" id="qq">
    <div class="card"  style="width: 22rem;height:15rem;border:1px solid #00bbff;border-radius:10px;transition:0.5s;">
        <div class="card-body ">
            <h5 class="card-title"> <a class="article-title" href="{% url 'post-detail' blog.id %}" >{{blog.title}} </a></h5>
            <h6 class="card-subtitle mb-2 text-muted"> {{blog.author}} </h6>
            <p> Date Posted: {{ blog.date_posted|date:"M d, Y" }}</p>
            <p class="card-text"> {{blog.content}}</p>
            
        </div>
    </div>
    </article>
    <br>
    {% endfor %}
{% endblock content %}